{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="梦芭莎官网首页" />
		<meta name="keywords" content="梦芭莎官网" />
		<title>【梦芭莎官网】梦芭莎女性购物网站女装、内衣、文胸、鞋包_网购衣服商城</title>
		<link rel="icon" type="image/x-icon" href="{% static 'img/aaaaaa.jpg' %}"/>
        <link rel="shortcut icon" href="{% static 'img/aaaaaa.jpg' %}" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/indexmiddle.css' %}" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/top_bot.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/content.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/side.js' %}" ></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
{#        <script src="{% static 'js/test.js' %}"></script>#}
	</head>
	<body>
	   <div class="out">
	        <div class="in" style="left: 648.5px; top: 258.5px;"><img src="{% static '/img/out.png' %}">
	            <div class="xx"><a href=""><img src="{% static 'img/shutdown01.png' %}"></a></div>
	        </div>
	   </div>
		<!--顶部开始-->
		<div class="headerbox">
			<!--顶部菜单栏-->
	        <div class="header">
	        	<div class="header_top">
	        		<div class="top_in">
	        			<a href="" class="startlogin" target="_blank">登录</a><span>|</span>
	        			<a href="register.html" target="_blank">注册</a><span>|</span>
	        			<a href="#">微信
	        				<div class="phoneCode"><img src="{% static 'img/0826143248.jpg' %}" alt=""></div>
	        			</a><span>|</span>
	        			<a href="#">微博
	        				<div class="phoneCode"><img src="{% static 'img/0826143310.jpg' %}" alt=""></div>
	        			</a><span>|&nbsp;</span>
	        			<a href="#"><span class="phone"><img src="{% static 'img/0831205002.jpg' %}" alt=""></span>手机版
	        			    <div class="phoneCode"><img src="{% static 'img/0826143318.jpg' %}" alt=""></div>
	        			</a><span>|</span>
	        			<a href="#">收藏梦芭莎</a><span>|</span>
	        			<a href="#">English</a><span>|</span>
	        			<a href="#"><span style="color: #666;">购物车</span>&nbsp;<img src="{% static 'img/0826151452.jpg' %}" alt=""></a>
	        			<div style="display:none;">购物车html</div>
	        		</div>
	        	</div>
	        </div>
	        <!--logo标签栏-->
	        <div class="logo">
	        	<div class="logo_box">
	        		    <div class="box_inlogo">
	        		    	<a href="#" title="梦芭莎全球女性时尚网购"><img src="{% static 'img/top_login2.png' %}" alt=""></a>
	        		    </div>
                    	<div class="box_insearch">
                    		<input class="txt_in" type="text" maxlength="20" size="100" mola="keyword" placeholder="月上中秋，悦尚早秋。赏月赏新，领50元券！">
                    	    <input class="btn_in" type="button" value="搜索" mola="search">
                    	    <ul>
                    	    	<li><a href="" class="hot">秋新品</a></li>
                    	        <li><a href="">低至1.6折 </a><span>|</span></li>
                    	        <li><a href="">基本款 </a><span>|</span></li>
                    	        <li><a href="">连衣裙 </a><span>|</span></li>
                    	        <li><a href="">T恤 </a><span>|</span></li>
                    	        <li><a href="">轻薄外套 </a><span>|</span></li>
                    	        <li><a href="">文胸 </a><span>|</span></li>
                    	        <li><a href="">男装T恤 </a><span>|</span></li>
                    	    </ul>
                    	</div>
                    	<div class="box_inlogoHot">
                    		<img src="{% static 'img/top1.jpg' %}" alt="">
                    		<ul>
                    			<li><a href="">经典热卖</a></li>
                    			<li><a href="">潮流风向</a></li>
                    			<li><a href="">特卖精选</a></li>
                    		</ul>
                    	</div>
	        	</div>
	        </div>
	        <!-- 横向导航栏-->
	        <div class="nav">
	        	<div class="nav_in">
	        		<ul>
	        			<li><a href=""><img src="{% static 'img/160826165214_01.jpg' %}" hsrc="img/nav 1.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_02.jpg' %}" hsrc="img/nav_02.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_03.jpg' %}" hsrc="img/nav_03.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160901093600.jpg' %}" hsrc="img/nav_04.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_05.jpg' %}" hsrc="img/nav_05.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_06.jpg' %}" hsrc="img/nav_06.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_07.jpg' %}" hsrc="img/nav_07.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_08.jpg' %}" hsrc="img/nav_08.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_09.jpg' %}" hsrc="img/nav_09.jpg" psrc="" alt=""></a></li>
	        			<li><a href=""><img src="{% static 'img/160826165214_10.jpg' %}" hsrc="img/nav_10.jpg" psrc="" alt=""></a></li>
	        		</ul>
	        	</div>
            </div>
		</div>

		<!--竖向菜单栏-->
		<div class="slionav">
			<div class="slionav_left">
			    <ul>
			    	<li class="left_oneli">
			    		<div class="left_bg1">
			    		    <h3><a href="">女装</a></h3>
			    		    <h4 style="width: 160px;margin-left: -2px;">
			    		    	<a href="">秋新品</a>
			    		    	<a href="">热卖单品</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">连衣裙</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    </h4>
		                </div>
		            </li>
		            <li>
		                <div class="left_bg2">
			    		    <h3><a href="">内衣</a></h3>
			    		    <h4>
			    		    	<a href="">光面无痕</a>
			    		    	<a href="">无钢圈</a>
			    		    	<a href="">聚拢</a>
			    		    </h4>
		                </div>
			    	</li>
			    	<li>
		                <div class="left_bg3">
			    		    <h3><a href="">男装</a></h3>
			    		    <h4>
			    		    	<a href="">新品</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">衬衫</a>
			    		    </h4>
		                </div>
			    	</li>
			    	<li>
		                <div class="left_bg4">
			    		    <h3><a href="">鞋包</a></h3>
			    		    <h4>
			    		    	<a href="">美鞋</a>
			    		    	<a href="">美包</a>
			    		    	<a href="">配饰</a>
			    		    </h4>
		                </div>
			    	</li>
			    	<li>
		                <div class="left_bg5">
			    		    <h3><a href="">美妆</a></h3>
			    		    <h4>
			    		    	<a href="">护肤</a>
			    		    	<a href="">面膜</a>
			    		    	<a href="">护理</a>
			    		    </h4>
		                </div>
			    	</li>
			    	<li>
		                <div class="left_bg6">
			    		    <h3><a href="">童装</a></h3>
			    		    <h4>
			    		    	<a href="">套服</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">裙装</a>
			    		    </h4>
		                </div>
			    	</li>
			    	<div class="left_pic"><img src="{% static 'img/M8_16_213054.png' %}"></div>
			    </ul>
			</div>
			<div class="slionav_right">
				<ul class="right_ul0">
			    	<li class="right_oneli">
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    </h5>
		                </div>
		                <div class="triangle"></div>
		            </li>
		           	<li>
			    		<div class="right_bg">
			    		    <h4><a href="">裙装</a></h4>
			    		    <h5>
			    		    	<a href="">连衣裙</a>
			    		    	<a href="">半身裙</a>
			    		    </h5>
		               </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    	<a href="">阔腿裤</a>
			    		    	<a href="">运动裤</a>
			    		    </h5>
		               </div>
		            </li>
		            <div class="right_onepic"><img src="{% static 'img/M9_9_140857.jpg' %}" alt=""></div>
		        </ul>
		        <ul class="right_ul1">
			    	<li class="right_oneli">
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    </h5>
			    		    <div class="triangle1"></div>
		               </div>
		           </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    </h5>
		              </div>
		           </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    </h5>
		               </div>
		           </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    </h5>
		               </div>
		           </li>
		            <li style="border-bottom: 1px solid #ea1c78;">
			    		<div class="right_bg" style="padding-bottom: 29px;">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    	<a href="">阔腿裤</a>
			    		    	<a href="">运动裤</a>
			    		    	<a href="">运动裤</a>
			    		    	<a href="">运动裤</a>
			    		    </h5>
		               </div>
		            </li>
		            <!--ul1右边的菜单-->
	                <dl class="right_ul2_right">
			        	<dt class="onedt">
			        		<div>
			        		    <img src="{% static 'img/160906145517_01.jpg' %}">
		                   </div>
		                </dt>
		                <dt>
			        		<div>
			        		    <img src="{% static 'img/160906145517_02.jpg' %}">
		                    </div>
		                </dt>
		                <dt>
			        		<div class="pic">
			        		    <img src="{% static 'img/160906145517_03 (1).jpg' %}">
		                    </div>
		                </dt>
		                <dt>
			        		<div class="pic">
			        		    <img src="{% static 'img/160906145517_04.jpg' %}">
		                    </div>
		                </dt>
		                <dt>
			        		<div>
			        		    <img src="{% static 'img/160906145517_05.jpg' %}">
		                    </div>
		                </dt>
		            </dl>
		        </ul>
		        <ul class="right_ul2">

			    	<li class="right_oneli">
			    		<div class="right_bg">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    </h5>
		               </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裙装</a></h4>
			    		    <h5>
			    		    	<a href="">连衣裙</a>
			    		    	<a href="">半身裙</a>
			    		    </h5>
		               </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    </h5>
		               </div>
		                <div class="triangle"></div>
		            </li>
		            <div class="right_onepic"><img src="{% static 'img/160906165345.jpg' %}" alt=""></div>
		        </ul>
		        <ul></ul>
		        <ul class="right_ul3">
			    	<li class="right_oneli">
			    		<div class="right_bg1">
			    		    <h4><a href="">上装</a></h4>
			    		    <h5>
			    		    	<a href="">基本款</a>
			    		    	<a href="">T恤</a>
			    		    	<a href="">卫衣</a>
			    		    	<a href="">衬衫</a>
			    		    	<a href="">针织毛衫</a>
			    		    	<a href="">马甲/背心</a>
			    		    	<a href="">外套</a>
			    		    </h5>
		               </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裙装</a></h4>
			    		    <h5>
			    		    	<a href="">连衣裙</a>
			    		    	<a href="">半身裙</a>
			    		    </h5>
		               </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    </h5>
		              </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    </h5>
		              </div>
		            </li>
		            <li>
			    		<div class="right_bg">
			    		    <h4><a href="">裤装</a></h4>
			    		    <h5>
			    		    	<a href="">休闲裤</a>
			    		    	<a href="">牛仔裤</a>
			    		    	<a href="">阔腿裤</a>
			    		    	<a href="">运动裤</a>
			    		    </h5>
		               </div>
		                <div class="triangle"></div>
		            </li>
		            <div class="right_onepic"></div>
		        </ul>
		        <ul></ul>
		    </div>
		</div>

		<!--Banner开始-->
		<div class="bannerbox">
			<div class="banner">

			</div>
			<div class="banner_point">
				<ul class="bar">
	                <li class="active"></li>
	                <li></li>
	                <li></li>
	                <li></li>
	                <li></li>
	                <li></li>
	                <li></li>
                </ul>
			</div>
		</div>

        <!--主体内容-->
        <div class="contentbox">
        	<!--热销单款-->
            <div class="content_hot stair">
           	  	<div class="hot_maparea">
           	  		<img src="{% static 'img/M9_6_151730.png' %}" usemap="#Mapxy">
           	  	    <map name="Mapxy" id="#Mapxy">
           	  		    <area shape="rect" coords="712,4,1203,119" href="#">
           	  		    <area shape="rect" coords="212,-4,704,121" href="#">
           	  		    <area shape="rect" coords="6,5,209,118" href="#">
           	     	</map>
           	  	</div>
                <div class="hot_title">
                	<img src="{% static 'img/hot_title.png' %}" alt="">
                </div>
                <div class="hot_text">
                	<div class="hot_list">
                		<span class="list0 hotact0"></span>
                		<span class="list1"></span>
                		<span class="list2"></span>
                		<span class="list3"></span>
                		<span class="list4"></span>
                	</div>
                	<div class="hot_tab">
                        <ul>
                        	<li>
                        		<img src="{% static 'img/HOT_01.jpg' %}" alt="" usemap="#hot_01" border="0">
                        		<map name="hot_01">
                        			<area shape="rect" coords="-3,3,711,438" target="_blank" href="">
                        		    <area shape="rect" coords="729,6,963,443" target="_blank" href="">
                        			<area shape="rect" coords="977,2,1209,442" target="_blank" href="">
                        		</map>
                        		<img src="{% static 'img/HOT_011.jpg' %}" alt="" usemap="#hot_011" border="0">
                        		<map name="hot_011">
                        			<area shape="rect" coords="7,3,229,365" target="_blank" href="">
                        			<area shape="rect" coords="239,0,477,368" target="_blank" href="">
                        			<area shape="rect" coords="484,7,717,364" target="_blank" href="">
                        			<area shape="rect" coords="729,4,958,367" target="_blank" href="">
                        			<area shape="rect" coords="972,9,1200,358" target="_blank" href="">
                        		</map>
                        	</li>
                        	<li style="display: none;">
                        		<img src="{% static 'img/HOT_02.png' %}" alt="" usemap="#hot_02" border="0">
                        		<map name="hot_02">
                        			<area shape="rect" coords="-1,6,713,441" target="_blank" href="">
                        			<area shape="rect" coords="729,6,963,443" target="_blank" href="">
                        			<area shape="rect" coords="977,2,1209,442" target="_blank" href="">
                        		</map>
                        		<img src="{% static 'img/HOT_022.png' %}" alt="" usemap="#hot_022" border="0">
                        		<map name="hot_022">
                        			<area shape="rect" coords="5,4,227,366" target="_blank" href="">
                        			<area shape="rect" coords="239,1,480,367" target="_blank" href="">
                        			<area shape="rect" coords="485,7,718,364" target="_blank" href="">
                        			<area shape="rect" coords="729,4,958,367" target="_blank" href="">
                        			<area shape="rect" coords="968,6,1195,365" target="_blank" href="">
                        		</map>
                        	</li>
                        	<li style="display: none;">
                        		<img src="{% static 'img/HOT_03.png' %}" alt="" usemap="#hot_03" border="0">
                        		<map name="hot_03">
                        			<area shape="rect" coords="8,7,722,442" target="_blank" href="">
                        			<area shape="rect" coords="729,6,963,443" target="_blank" href="">
                        			<area shape="rect" coords="977,2,1209,442" target="_blank" href="">
                        		</map>
                        		<img src="{% static 'img/HOT_033.png' %}" alt="" usemap="#hot_033" border="0">
                        		<map name="hot_033">
                        			<area shape="rect" coords="3,3,225,365" target="_blank" href="">
                        			<area shape="rect" coords="239,1,480,367" target="_blank" href="">
                        			<area shape="rect" coords="489,5,722,362" target="_blank" href="">
                        			<area shape="rect" coords="730,4,959,367" target="_blank" href="">
                        			<area shape="rect" coords="972,9,1200,358" target="_blank" href="">
                        		</map>
                        	</li>
                        	<li style="display: none;">
                        		<img src="{% static 'img/HOT_04.jpg' %}" alt="" usemap="#hot_04" border="0">
                        		<map name="hot_04">
                        			<area shape="rect" coords="8,7,722,442" target="_blank" href="">
                        			<area shape="rect" coords="729,6,963,443" target="_blank" href="">
                        			<area shape="rect" coords="977,2,1209,442" target="_blank" href="">
                        		</map>
                        		<img src="{% static 'img/HOT_044.jpg' %}" alt="" usemap="#hot_044" border="0">
                        		<map name="hot_044">
                        			<area shape="rect" coords="7,3,225,365" target="_blank" href="">
                        			<area shape="rect" coords="239,1,480,367" target="_blank" href="">
                        			<area shape="rect" coords="489,5,722,362" target="_blank" href="">
                        			<area shape="rect" coords="730,4,959,367" target="_blank" href="">
                        			<area shape="rect" coords="972,9,1200,358" target="_blank" href="">
                        		</map>
                        	</li>
                        	<li style="display: none;">
                        		<img src="{% static 'img/HOT_05.jpg' %}" alt="" usemap="#hot_05" border="0">
                        		<map name="hot_05">
                        			<area shape="rect" coords="8,7,722,442" target="_blank" href="">
                        			<area shape="rect" coords="729,6,963,443" target="_blank" href="">
                        			<area shape="rect" coords="977,2,1209,442" target="_blank" href="">
                        		</map>
                        		<img src="{% static 'img/HOT_055.jpg' %}" alt="" usemap="#hot_055" border="0">
                        		<map name="hot_055">
                        			<area shape="rect" coords="7,3,225,365" target="_blank" href="">
                        			<area shape="rect" coords="239,1,480,367" target="_blank" href="">
                        			<area shape="rect" coords="489,5,722,362" target="_blank" href="">
                        			<area shape="rect" coords="730,4,959,367" target="_blank" href="">
                        			<area shape="rect" coords="972,9,1200,358" target="_blank" href="">
                        		</map>
                        	</li>
                        </ul>
                	</div>
                	<div class="hot_lr">
                		<span class="lr_prev">
                			<img src="{% static 'img/hot_prev.png' %}" alt="">
                		</span>
                		<span class="lr_next">
                			<img src="{% static 'img/hot_next.png' %}" alt="">
                		</span>
                	</div>
                </div>
                <div class="hot_bot">
                	<a href=""><img src="{% static 'img/160809133220_01.png' %}"></a>
                	<a href=""><img src="{% static 'img/hot_bot.jpg' %}" usemap="#botMap" border="0"></a>
                	<map name="botMap">
                		<area target="_blank" href="#" coords="981,212,1199,413" shape="rect">
                		<area target="_blank" href="#" coords="5,5,531,422" shape="rect">
                		<area target="_blank" href="#" coords="536,7,753,416" shape="rect">
                		<area target="_blank" href="#" coords="758,6,978,414" shape="rect">
                		<area target="_blank" href="#" coords="981,7,1199,208" shape="rect">
                	</map>
                </div>
            </div>

            <!--每周新品-->
            <div class="content_new stair">
            	<div class="new_title">
            		<img src="{% static 'img/new_title.png' %}" alt="" border="0">
            	</div>
            	<div class="new_turns">
            		<div class="turns_list">
            			<ul>
            				<li>
            					<img src="{% static 'img/new_1.jpg' %}" alt="" usemap="#new1" border="0">
            					<map name="new1">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,5,565,327" href="">
            						<area shape="rect" coords="5,3,275,264" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new2.jpg' %}" alt="" usemap="#new2" border="0">
            					<map name="new2">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,5,565,327" href="">
            						<area shape="rect" coords="12,7,275,268" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_3.jpg' %}" alt="" usemap="#new3" border="0">
            					<map name="new3">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_4.jpg' %}" alt="" usemap="#new4" border="0">
            					<map name="new4">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_5.jpg' %}" alt="" usemap="#new5" border="0">
            					<map name="new5">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_6.jpg' %}" alt="" usemap="#new6" border="0">
            					<map name="new6">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_7.jpg' %}" alt="" usemap="#new7" border="0">
            					<map name="new7">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            				<li>
            					<img src="{% static 'img/new_8.jpg' %}" alt="" usemap="#new8" border="0">
            					<map name="new8">
            						<area shape="rect" coords="593,3,1195,725" href="">
            						<area shape="rect" coords="293,333,565,655" href="">
            						<area shape="rect" coords="5,333,277,655" href="">
            						<area shape="rect" coords="293,2,565,327" href="">
            						<area shape="rect" coords="7,7,275,266" href="">
            					</map>
            				</li>
            			</ul>
            		</div>
            		<div class="turns_pn">
            			<ul>
            				<li class="newact"></li>
            				<li></li>
            				<li></li>
            				<li></li>
            				<li></li>
            				<li></li>
            				<li></li>
            				<li></li>
            			</ul>
            		</div>
            		<div class="turns_lr">
            			<span class="new_prev"><img src="{% static 'img/Black_l.png' %}"></span>
            			<span class="new_next"><img src="{% static 'img/Black_r.png' %}"></span>
            		</div>
            	</div>
            </div>

            <!--活动-->
            <div class="content_campaign stair">
            	<div class="campaign_text">
            		<img src="{% static 'img/campaign_title.png' %}" alt="" border="0">
            	</div>
            </div>

            <!--女士-->
            <div class="women stair">
            	<div class="women_title">
            		<img src="{% static 'img/women.png' %}" alt="" border="0">
            	</div>
            	<!--欧美时尚-->
            	<div class="women_text">
            		<img src="{% static 'img/160817151524.png' %}" alt="">
            		<img src="{% static 'img/women.jpg' %}" alt="" usemap="#women1">
            		<map name="women1">
            			<area shape="rect" coords="6,6,593,528" href="">
            			<area shape="rect" coords="599,9,1198,264" href="">
            			<area shape="rect" coords="601,272,887,525" href="">
            			<area shape="rect" coords="898,273,1196,530" href="">
            		</map>
            	</div>
            	<div class="women_goods">
                    <div class="goods_list">
                        <!--<dl>
                        	<dt><a href=""><img src="img/womengoods1.jpg" alt=""/></a></dt>
                        	<dd><a href="" class="goods_name">梦芭莎欧美风优雅职业细条纹和素色棉质...</a>
                        		<div class="goods_price"><i>￥</i><span>129.00</span><del>￥119</del></div>
                        	</dd>
                        </dl>-->
                    </div>
            	</div>
            	<div style="clear: both;"></div>

            	<!--日韩潮流-->
            	<div class="women_text" style="margin-top: 20px;">
            		<img src="{% static 'img/160809154304_02.png' %}" alt="">
            		<img src="{% static 'img/rihan1.jpg' %}" alt="" usemap="#women2">
            		<map name="women2">
            			<area shape="rect" coords="6,6,593,528" href="">
            			<area shape="rect" coords="599,9,1198,264" href="">
            			<area shape="rect" coords="601,272,887,525" href="">
            			<area shape="rect" coords="898,273,1196,530" href="">
            		</map>
            	</div>
            	<div class="women_goods">
                    <div class="goods_list1">
                        <!--<dl>
                        	<dt><a href=""><img src="img/womengoods1.jpg" alt=""/></a></dt>
                        	<dd><a href="" class="goods_name">梦芭莎欧美风优雅职业细条纹和素色棉质...</a>
                        		<div class="goods_price"><i>￥</i><span>129.00</span></div>
                        	</dd>
                        </dl>-->
                    </div>
            	</div>
            	<div style="clear: both;"></div>

            </div>

            <!--男士-->
            <div class="women stair">
            	<div class="women_title">
            		<img src="{% static 'img/men.png' %}" alt="" border="0">
            	</div>
            	<div class="women_text">
            		<img src="{% static 'img/160809154304_06.png' %}" alt="">
            		<img src="{% static 'img/men_bg.jpg' %}" alt="" usemap="#men1">
            		<map name="men1">
            			<area shape="rect" coords="6,6,593,528" href="">
            			<area shape="rect" coords="599,9,1198,264" href="">
            			<area shape="rect" coords="601,272,887,525" href="">
            			<area shape="rect" coords="898,273,1196,530" href="">
            		</map>
            	</div>
            	<div class="men_goods">
                    <div class="mgoods_list">
                        <!--<dl>
                        	<dt><a href=""><img src="img/womengoods1.jpg" alt=""/></a></dt>
                        	<dd><a href="" class="goods_name">梦芭莎欧美风优雅职业细条纹和素色棉质...</a>
                        		<div class="goods_price"><i>￥</i><span>129.00</span></div>
                        	</dd>
                        </dl>-->
                    </div>
            	</div>
            	<div style="clear: both;"></div>
            </div>

            <!--优选品牌-->
            <div class="women stair">
            	<div class="women_title">
            		<img src="{% static 'img/160817200014_01.jpg' %}" alt="" border="0">
            	</div>
                <div class="excellent">
                	<div class="excellent_l">
                		<span><img src="{% static 'img/nv11.jpg' %}" xsrc="img/nv11.jpg" ysrc="img/titlenvzhuang1.jpg" alt=""></span>
                	    <span><img src="{% static 'img/xie2.jpg' %}" xsrc="img/xie22.jpg" ysrc="img/xie2.jpg" alt=""></span>
                	    <span><img src="{% static 'img/nei33.jpg' %}" xsrc="img/nei3.jpg" ysrc="img/nei33.jpg" alt=""></span>
                	    <span><img src="{% static 'img/mei44.jpg' %}" xsrc="img/mei1.jpg" ysrc="img/mei44.jpg" alt=""></span>
                	</div>
                	<div class="excellent_r">
                		<ul>
                			<li>
                				<img src="{% static 'img/yyouxuan01.jpg' %}" alt="" usemap="#nvzhuang">
                			    <map name="nvzhuang">
                			    	<area shape="rect" href="" coords="4,6,599,532">
                			    	<area shape="rect" href="" coords="606,7,843,265">
                			    	<area shape="rect" href="" coords="847,8,1085,262">
                			    	<area shape="rect" href="" coords="607,271,844,529">
                			    	<area shape="rect" href="" coords="850,269,1085,526">
                			    </map>
                			</li>
                			<li>
                				<img src="{% static 'img/youxuan2.jpg' %}" alt="" usemap="#xiebao">
                			    <map name="xiebao">
                			    	<area shape="rect" href="" coords="4,6,599,532">
                			    	<area shape="rect" href="" coords="606,7,843,265">
                			    	<area shape="rect" href="" coords="847,8,1085,262">
                			    	<area shape="rect" href="" coords="607,271,844,529">
                			    	<area shape="rect" href="" coords="850,269,1085,526">
                			    </map>
                			</li>
                			<li>
                				<img src="{% static 'img/youxuan3.jpg' %}" alt="" usemap="#neiyi">
                			    <map name="neiyi">
                			    	<area shape="rect" href="" coords="4,6,599,532">
                			    	<area shape="rect" href="" coords="606,7,843,265">
                			    	<area shape="rect" href="" coords="847,8,1085,262">
                			    	<area shape="rect" href="" coords="607,271,844,529">
                			    	<area shape="rect" href="" coords="850,269,1085,526">
                			    </map>
                			</li>
                			<li>
                				<img src="{% static 'img/yoxuan1.jpg' %}" alt="" usemap="#meizhuang">
                			    <map name="meizhuang">
                			    	<area shape="rect" href="" coords="4,6,599,532">
                			    	<area shape="rect" href="" coords="606,7,843,265">
                			    	<area shape="rect" href="" coords="847,8,1085,262">
                			    	<area shape="rect" href="" coords="607,271,844,529">
                			    	<area shape="rect" href="" coords="850,269,1085,526">
                			    </map>
                			</li>
                		</ul>
                	</div>
                </div>
            </div>

            <!--热销分类-->
            <div class="women stair">
            	<div class="hotsole_title">
            		<img src="{% static 'img/160809160946_01.png' %}" alt="" border="0">
            	</div>
            	<div class="hotsole_text">
            		<img src="{% static 'img/160825152843.jpg' %}" usemap="#hotsole_textin">
            		<map name="hotsole_textin">
            			<area shape="rect" href="" coords="40,228,203,421">
            			<area shape="rect" href="" coords="280,228,443,421">
            			<area shape="rect" href="" coords="515,228,678,421">
            			<area shape="rect" href="" coords="759,228,922,421">
            			<area shape="rect" href="" coords="1001,228,1164,421">
            			<area shape="rect" href="" coords="1001,18,1164,211">
            			<area shape="rect" href="" coords="759,18,922,211">
            			<area shape="rect" href="" coords="515,18,678,211">
            			<area shape="rect" href="" coords="280,18,443,211">
            			<area shape="rect" href="" coords="40,18,203,211">
            		</map>
            	</div>
            	<div style="width:100%;background:#fff;height:30px;"></div>
            </div>

            <!--单品-->
            <div class="women stair">
                <div class="alone">
                	<div class="alone_con">
                		<!--<dl>
                        	<dt><a href=""><img src="img/womengoods1.jpg" alt=""/></a></dt>
                        	<dd><a href="" class="alone_name">梦芭莎欧美风优雅职业细条纹和素色棉质...</a>
                        		<div class="alone_price"><i>￥</i><span>129</span></div>
                        	</dd>
                        </dl>-->
                	</div>
                </div>
                <div style="clear: both;margin-bottom: 70px;"></div>
            </div>

            <!--左侧楼梯-->
            <div class="sideNav">
            	<div class="sideCode">
            		<img src="{% static 'img/160830144154.png' %}" alt="" usemap="#side_0" border="0">
            		<map name="side_0">
            			<area shape="rect" href="" coords="54,0,74,20">
            			<area shape="rect" href="" coords="2,76,66,201">
            			<area shape="rect" href="" coords="4,217,70,306">
            		</map>
            	</div>
            	<div class="sideNavWrap">
            		<ul>
				        <li>1F<span class="sideactive">热销单品</span></li>
				        <li>2F<span>每周新品</span></li>
				        <li>3F<span>活动</span></li>
				        <li>4F<span>女士</span></li>
				        <li>5F<span>男士</span></li>
				        <li>6F<span>优选大牌</span></li>
				        <li>7F<span>热销品类</span></li>
				        <li>8F<span>单品</span></li>
			        </ul>
            	</div>
            </div>

            <!--右侧菜单-->
            <div class="right_nav">
            	<ul>
            		<li class="oneli">
            			<img src="{% static 'img/nitemf_09.png' %}">
            			<div id="sanjiao"></div>
            			<div class="login right_lis">
            				<a class="close" href="">×</a><br>
            				<img src="{% static 'img/User.jpg' %}">
            				<p>请先登录哦！</p>
            				<div class="login_text">
            					<a href="login.html" target="_blank">登录</a>
            					<a href="register.html" target="_blank">注册</a>
            				</div>
            				<a href="" class="login_l">我的订单</a>
            				<a href="" class="login_r">我的收藏</a>
            			</div>
            		</li>
            		<li class="twoli">
            			<img class="twoli_imgone" src="{% static 'img/nitemf_05.png' %}">
            			<div id="sanjiao" style="top: 55%;"></div>
            			<p class="twoli_shopname">购物车</p>
            			<div id="twoli_redpn">
                            <img class="twoli_redpn_img" src="{% static 'img/red_ring.png' %}">
                            <span class="twoli_redpn_span">0</span>
            			</div>
            			<div class="twoli_shop right_lis">
            				<a class="close" href="">×</a><br>
            				<p>购物车</p>
            				<div class="twoli_shop_empty">
            					<i><img src="{% static 'img/nitemf_01.png' %}"></i>
            					<p>
            						<br>
            						您的购物车还没有商品
            						<br>
            						再去逛逛吧！
            					</p>
            				</div>
	            			<div class="accounts">
	        			    	<div class="total">
	        			    		<div class="goods_num fl">
	        			    			<span>共</span><span class="cartSum_h">0</span>件商品
	        			    		</div>
	        			    		<div class="goods_cost fr">
	        			    			<span style="font-size: 16px; font-family: arial">¥</span>
	                                    <span id="accounts_price" style="font-size: 18px;">0</span>
	        			    		</div>
	        			    	</div>
	        			    	<div class="clo-btn">去购物车结算 </div>
	        			    </div>
            			</div>
            		</li>
            		<li class="threeli">
            			<img src="{% static 'img/nitemf_07.png' %}">
            			<div id="sanjiao"></div>
            			<div class="threeli_collect right_lis">
            				<div class="threeli_collectin">我的收藏</div>
            			</div>
            		</li>
            		<li class="fourli">
            			<img src="{% static 'img/nitemf_10.png' %}">
            			<div id="sanjiao"></div>
            			<div class="fourli_phone right_lis">
            				<div class="fourli_phonein"><img src="{% static 'img/code_app.jpg' %}" alt=""></div>
            			</div>
            		</li>
            		<li class="fiveli">
            			<img src="{% static 'img/nitemf_08.png' %}">
            			<div id="sanjiao"></div>
            			<div class="fiveli_information right_lis">
            				<div class="fiveli_informationin"><img src="{% static 'img/code_wechat.jpg' %}" alt=""></div>
            			</div>
            		</li>
            		<li class="sixli">
            			<img class="sixli_oneimg" src="{% static 'undefined' %}">
            			<div id="sanjiao"></div>
            			<div class="sixli_sever right_lis">
            				<div class="sixli_severin">联系客服</div>
            			</div>
            		</li>
            		<li class="sevenli">
            			<img src="{% static 'img/menu_top.png' %}">
            			<div id="sanjiao"></div>
            			<div class="sevenli_back right_lis">
            				<div class="sevenli_backin"><a href="#">回到顶部</a></div>
            			</div>
            		</li>
            	</ul>
            </div>
        </div>


        <!--底部开始-->
        <div class="footerbox">
			<!--底部导航栏-->
		    <div class="footer_top">
		    	<div class="footer_topin">
		    		<dl>
		    			<dt><a href="">新手指南</a></dt>
		    			<dd><a href="">注册新用户</a></dd>
		    			<dd><a href="">如何订购</a></dd>
		    			<dd><a href="">如何修改订单</a></dd>
		    			<dd><a href="">尺码对照表</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">支付方式</a></dt>
		    			<dd><a href="">支付方式</a></dd>
		    			<dd><a href="">账户提现及退款时效</a></dd>
		    			<dd><a href="">查看账户余额</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">配送方式</a></dt>
		    			<dd><a href="">配送费收取标准</a></dd>
		    			<dd><a href="">配送范围及配送时效</a></dd>
		    			<dd><a href="">签收注意事项</a></dd>
		    			<dd><a href="">海外订购</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">退换货服务</a></dt>
		    			<dd><a href="">退换货政策</a></dd>
		    			<dd><a href="">退换货流程</a></dd>
		    			<dd><a href="">隐私申明</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">会员制度及优惠</a></dt>
		    			<dd><a href="">优惠活动</a></dd>
		    			<dd><a href="">VIP优惠尊享</a></dd>
		    			<dd><a href="">大宗购物</a></dd>
		    			<dd><a href="">积分制度</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">帮助中心</a></dt>
		    			<dd><a href="">忘记密码</a></dd>
		    			<dd><a href="">常见问题</a></dd>
		    			<dd><a href="">在线客服</a></dd>
		    			<dd><a href="">联系我们</a></dd>
		    		</dl>
		    		<dl>
		    			<dt><a href="">咨询订购</a></dt>
		    			<dd><font>400-716-2828</font></dd>
		    			<dt class="dttop"><a href="#">客户服务</a></dt>
		    			<dd><font>400-716-7878</font></dd>
		    		</dl>
		    		<dl>
		    			<dt style="padding-top:8px;"><img src="{% static 'img/M4_14_150441.png' %}"></dt>
		    		</dl>
		    	</div>
		    </div>

		    <!--底部logo标签栏-->
		    <div class="footer_bot">
		    	<div class="footer_botin">
		    		<img src="{% static 'img/mbs_img_1.jpg' %}"><img src="{% static 'img/mbs_img_2.jpg' %}"><img src="{% static 'img/mbs_img_3.jpg' %}"><img src="{% static 'img/mbs_img_4.jpg' %}">
		    	</div>
		    	<div class="bot_copy">
		    		<a href="" title="女性内衣专家梦芭莎首页">首页</a>
		    		<a href="">公司简介</a>
		    		<a href="" class="bot_copya">旗下品牌</a>
		    		<a href="">零售店址</a>
		    		<a href="" title="梦芭莎网站联盟">梦芭莎网盟</a>
		    		<a href="" title="梦芭莎网店代理">网店代理</a>
		    		<a href="">网站地图</a>
		    		<a href="">友情链接</a><br>
		    		Copyright © 2010-2019 梦芭莎官方网站，广州摩拉网络科技有限公司 All Rights Reserved 粤B2-20080069号 公安机关备案号44010302000075
		    	    <div class="copy_in">
		    	    	<a title="梦芭莎" target="_blank" href="">梦芭莎</a>
		    	    	<a title="梦芭莎旗下欧式女装" target="_blank" href="">若缇诗</a>
		    	    	<a title="梦芭莎旗下商务男装" target="_blank" href="">蒙蒂埃莫</a>
		    	    	<a title="梦芭莎旗下童装" target="_blank" href="">宝耶</a>
		    	    	<a title="梦芭莎旗下时尚服装品牌" target="_blank" href="">ing2ing</a>
		    	    	<a title="梦芭莎旗下原创女装" target="_blank" href="">所然</a>
		    	    	<a title="梦芭莎旗下化妆品" target="_blank" href="">千金本草</a>
		    	    	<a title="梦芭莎旗下少女内衣品牌" target="_blank" href="">樱桃派内衣</a>
		    	    	<a title="梦芭莎旗下运动装品牌" target="_blank" href="">运动0100</a>
		    	    	<a title="梦芭莎旗下日韩女装" target="_blank" href="">韩伊儿</a>
		    	    	<a title="梦芭莎旗下意式高端女装" target="_blank" href="">艾莱维</a>
		    	    	<a title="梦芭莎女装" target="_blank" href="">梦芭莎女装</a>
		    	    	<a title="梦芭莎内衣" target="_blank" href="">梦芭莎内衣</a>
		    	    	<a title="梦芭莎女鞋" target="_blank" href="">梦芭莎女鞋</a>
		    	    	<a title="梦芭莎高端内衣" target="_blank" href="">梦芭莎高端内衣</a>
		    	    	<a title="梦芭莎饰品" target="_blank" href="">梦芭莎饰品</a>
		    	    	<a title="梦芭莎活动" target="_blank" href="">梦芭莎活动</a>
		    	    	<a title="梦芭莎评论" target="_blank" href="">梦芭莎评论</a>
		    	    	<a title="梦芭莎图片" target="_blank" href="">梦芭莎图片</a>
		    	    	<a title="梦芭莎俱乐部" target="_blank" href="">梦芭莎俱乐部</a>
		    	    	<a title="梦芭莎标签" target="_blank" href="">梦芭莎标签</a>
		    	    </div>
		    	</div>
		    	<div class="bot_logo">
		    		<img src="{% static 'img/mbs_f_01.jpg' %}">
		    		<img src="{% static 'img/mbs_f_02.jpg' %}">
		    		<img src="{% static 'img/logo_down.jpg' %}" style="width: 38px; height: 33px;">
		    		<img src="{% static 'img/logo.jpg' %}">
		    		<img src="{% static 'img/mbs_f_04.jpg' %}">
		    		<img src="{% static 'img/mbs_f_05.jpg' %}">
		    		<img src="{% static 'img/mbs_f_06.jpg' %}">
		    		<img src="{% static 'img/mbs_f_07.jpg' %}">
		    	</div>
		    </div>
		    <!--底部滚动条-->
		    <div class="footer_scroll">
		    	<div class="friend_link">友情链接：</div>
		    	<div class="friendlinks_slide">
		    		<ul class="scroll_box">
		    			<li>
		    				<a href="" target="_blank">服饰百科</a>
		    				<a href="" target="_blank">服饰搭配</a>
		    			</li>
                        <li>
                        	<a href="" target="_blank">梦芭莎内衣</a>
                        	<a href="" target="_blank">梦芭莎时尚女装</a>
                        	<a href="" target="_blank">梦芭莎优雅女装</a>
                        	<a href="" target="_blank">梦芭莎名鞋馆</a>
                        	<a href="" target="_blank">梦芭莎饰品馆</a>
                        	<a href="" target="_blank">梦芭莎包包馆</a>
                        	<a href="" target="_blank">梦芭莎怎么样</a>
                        	<a target="_blank" href="">旅游攻略</a>
                        </li>
                        <li>
                        	<a target="_blank" href="">亿邦动力网</a>
                        	<a target="_blank" href="">名鞋库</a>
                        	<a target="_blank" href="">杂志</a>
                        	<a target="_blank" href="">淘金地</a>
                        	<a target="_blank" href="">折纸</a>
                        	<a target="_blank" href="">家具</a>
                        	<a target="_blank" href="">钻石小鸟</a>
                        	<a target="_blank" href="">分类信息</a>
                        	<a target="_blank" href="">拍鞋网</a>
                        </li>
                        <li>
                        	<a target="_blank" href="">侠侣好玩</a>
                        	<a target="_blank" href="">折800</a>
                        	<a target="_blank" href="">建材产品  </a>
                        	<a target="_blank" href="">女装搭配网</a>
                        	<a target="_blank" href="">悦美网</a>
                        	<a target="_blank" href="">嗨淘化妆品</a>
                        	<a target="_blank" href="">装修网</a>
                        	<a target="_blank" href="">光波网</a>
                        	<a target="_blank" href="">比价网</a>
                        	<a target="_blank" href="">中国丽人网</a>
                        	<a target="_blank" href="">电子商务</a>
                        	<a target="_blank" href="">狗民网</a>
                        </li>
                        <li>
                        	<a target="_blank" href="">志趣网</a>
                        	<a target="_blank" href="">欣欣百宝箱</a>
                        	<a target="_blank" href="">加盟</a>
                        </li>
                    </ul>
		    	</div>
		    </div>
		</div>
	</body>
</html>
